[*.cs]

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none
