[*.cs]
dotnet_analyzer_diagnostic.category-roslynator.severity = none
dotnet_diagnostic.rcs1247.severity = none
dotnet_diagnostic.rcs1037.severity = none
dotnet_diagnostic.rcs1060.severity = none
dotnet_diagnostic.rcs1135.severity = none
dotnet_diagnostic.rcs1154.severity = none
dotnet_diagnostic.rcs1157.severity = none
dotnet_diagnostic.ca1019.severity = none
dotnet_diagnostic.ca1069.severity = none
dotnet_diagnostic.ide0290.severity = none
