name: Continuous Integration

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "45 18 * * *"

concurrency:
  group: ci
  cancel-in-progress: true

env:
  SYMBOL_PACKAGE: false

jobs:
  build:
    name: Build
    env:
      build-configuration: Release
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sliekens/gw2sdk/devcontainer:latest
      options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # (no history limit)
          filter: tree:0

      - name: Install dependencies
        run: dotnet restore --locked-mode

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Update test data
        run: dotnet run --project src/GW2SDK.TestDataHelper
          --configuration Release
          --no-build
          -- artifacts/Data

      - name: Copy test data to all test directories
        run: |
          for d in artifacts/bin/GW2SDK.Tests/*; do
            if [ -d "$d" ]; then
              cp -rf artifacts/Data/* "$d/Data"
            fi
          done

      - name: Test
        run: dotnet test
          --configuration Release
          --no-build
          --coverage
          --coverage-settings tests/coverage.settings
          --coverage-output coverage.xml
          --no-progress
        env:
          ApiKeyBasic: ${{ secrets.API_TOKEN_BASIC }}
          ApiKey: ${{ secrets.API_TOKEN_FULL }}
          GuildLeader__Token: ${{ secrets.API_TOKEN_GUILD_LEADER }}

      - name: Upload test data on failure
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: test-data
          path: artifacts/Data

      - name: Upload coverage
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: artifacts/bin/GW2SDK.Tests/*/TestResults/coverage.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Create packages
        run: dotnet pack src/GW2SDK --configuration Release --no-build

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: package
          path: artifacts/package/

  deploy-to-github-packages:
    name: Deploy to GitHub Packages
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-packages
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: package
          path: artifacts

      - name: Upload packages to GitHub Packages
        run: dotnet nuget push artifacts/*/*.nupkg --source https://nuget.pkg.github.com/sliekens/index.json --api-key ${{secrets.GITHUB_TOKEN}} --skip-duplicate
